.chat-main
  .main-header
    .header-left
      .group-name
        = @group.name
      %ul.memmber-list
        Member：
        %li.user-name
          - @group.users.each do |memmber|
            = memmber.name

    .header-right
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .messages
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "form-box"}, local: true do |f|
      .message-box
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'image-btn' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'image-btn__image'
      = f.submit 'Send', class: 'send-btn'

-# fotm_with変更前
-#     %form.form-box
-#       .message-box
-#         %input{type: "test", class: "message", placeholder:"type a message"}
-#         %label{class: "image-btn"}
-#           =icon('fas', 'image')
-#           %input{type: "file", class: "image-btn__image"}
-#       %input{type: "submit", class:"send-btn", value:"Send"}

