.side-bar
  .side-header
    .header-box
      .user-name
        = current_user.name
      .icon
        = link_to new_group_path, class: "icon__btn" do
          = icon('fas', 'edit')
        = link_to "/users/:id/edit", class: "icon__btn icon__btn__edit" do
          = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "messages" do
          .group-name
            = group.name
          .message
            = group.show_last_message